* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(221, 164, 57);
}
.board {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding: 5px;
}

h1 {
    text-align: center;
    font-size: 60px;
    background-color: brown;
}

.btn {
    width: 120px;
    height: 120px;
    font-size: 60px;
    border-radius: 5px;
    background-color: rgb(27, 26, 26);
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    background-color: black;
}

.btnhighlight {
    width: 120px;
    height: 120px;
    font-size: 50px;
    background-color: blue;
    cursor: pointer;
    border-radius: 10px;
    font-size: 90px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 2px;
  }

.gamebtn {
    width: 179px;
    height: 30px;
    cursor: pointer;
    font-weight: 30px;
    border-radius: 10px;
    transition: 0.3s ease-out;
    background: rgb(27, 255, 255);
    color: rgb(63, 118, 170);
    border: 2px solid rgb(63, 118, 170);
    font-size: 1rem;
    padding: 5px 7px;
    margin: 2px;
}

.gamebtn:hover {
    background: rgb(63, 118, 170);
    color: rgb(27, 255, 255);
    border: 2px solid rgb(27, 255, 255);
}


span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    /* animation: move 2s infinite; */
}
/* @keyframes  move {
    0% {color: black; font-size: 55px;}
    25% {color: red; font-size: 50px;}
    50% {color: yellow; font-size: 45px;}
    75% {color: blue; font-size: 40px;}
    100% {color: green; font-size: 35px;}
} */

.X {
    color: red;
}

.O {
    color: green;
}

.status {
    text-align: center;
    font-size: 30px;
    margin: 5px;
}

#active {
    background-color: rgb(123, 166, 207);
    cursor: not-allowed;
}

.win-history {
    color: black;
    font-size: 2rem;
    margin: 1rem 0;
}

span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    animation: move 2s infinite;
}
@keyframes  move {
    0% {color: black; font-size: 55px;}
    25% {color: red; font-size: 50px;}
    50% {color: yellow; font-size: 45px;}
    75% {color: blue; font-size: 40px;}
    100% {color: green; font-size: 35px;}
}

